.home-background {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../../images/landing-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.home-icons {
    height: 80vw;
    margin-left: -20vw;
}

.home-title {
    color: #d4d4d4;
    font-size: 6.5vw;
    margin: 0;
}

.home-middle-container {
    height: 100vh;
    width: 92vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-middle-content {
    height: 80vh;
    width: 77vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    background-image: linear-gradient(45deg,
            #65ffaa 0%,
            #d485ff 50.333%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: repeat;
    font-size: 3vw;
}

#logo-mobile {
    display: none;
}

.home-paragraph {
    width: 40vw;
    color: #d4d4d4;
    font-size: 1.9vw;
    font-weight: 500;
}

.signup-form {
    background-color: #09081C;
    border: #00E1B8 solid 2.5px;
    width: 26vw;
    height: 4vw;
    padding: 0 2%;
    font-size: 1.5vw;
    color: #d4d4d4;
    font-weight: 100;
    border-radius: 7px 0px 0px 7px;
}

.writing-logo {
    display: inline-flex;
    align-items: center;
}

.home-right {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.home-left {
    z-index: 1;
    display: inline;
    margin-top: -3vw;
}

.submit-section {
    display: flex;
}

.submit {
    background-color: #00E1B8;
    width: 9vw;
    font-size: 1.2vw;
    font-weight: 500;
    border: none;
    border-radius: 0px 7px 7px 0px;
}

.submit:hover {
    cursor: pointer;
}

@media only screen and (max-device-width: 450px) {

    .home-middle-container {
        height: 100vh;
        width: 92vw;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .home-middle-content {
        height: 90vh;
        width: 77vw;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -3vh;
    }

    .logo {
        z-index: 100;
    }

    #logo-desktop {
        display: none;
    }

    #logo-mobile {
        display: inline;
        font-size: 4vh;
        margin-bottom: 3.5vh;
    }

    .home-title {
        font-size: 5vh;
        width: 80%;
        margin-top: -12vh;
    }

    #home-right {
        order: 1;
    }

    #home-left {
        order: 2;
        margin-top: -4vh;
    }

    .home-left {
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .home-right {}

    #home-title {
        order: 1;
    }

    #submit-section {
        order: 2;
    }

    #home-paragraph {
        order: 3;
    }

    .home-icons {
        height: 73vh;
        margin-top: -16vh;
        margin-left: -2vw;
    }

    .home-paragraph {
        width: 80vw;
        color: #d4d4d4;
        font-size: 2vh;
        font-weight: 500;
        margin-bottom: 3vh;
    }

    .signup-form {
        margin-top: 3vh;
        margin-bottom: 0.5vh;
        background-color: #09081C;
        border: #00E1B8 solid 2px;
        width: 53vw;
        height: 4.75vh;
        padding: 0 1.5vh;
        font-size: 1.6vh;
        color: #d4d4d4;
        font-weight: 200;
        border-radius: 12px 0px 0px 12px;
    }

    .submit {
        margin-top: 3vh;
        margin-bottom: 0.5vh;
        background-color: #00E1B8;
        color: black;
        width: 23vw;
        font-size: 1.5vh;
        font-weight: 500;
        border: none;
        border-radius: 0px 12px 12px 0px;
    }

    .writing-logo {
        display: flex;
        flex-direction: column;
    }
}